<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="20/08/2024 16:00" createdAt="01/08/2024" 
  notes="we have two bags that are full, one with plastic and the other wih glasses"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updatedAt="18/08/2024 10:00" createdAt="01/08/2024" 
  notes="we have two bags that are full"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="12/08/2024 16:00" createdAt="01/08/2024" value="$ 10,00"></app-pickup-call-card>

</ion-content>
